#header h1 {
	margin-bottom: 0px;
	padding-bottom:0px;
	font-size:0px;
	color:white;
	width:356px;
	height:120px;
	background:white url('../images/header.jpg') no-repeat top left;
}

#header h2 {
	margin-top: 0px;
	padding-top: 0px;
	font-weight:normal;
}

.required {
	border:solid 2px red;
	background:#ffc;
}

.alert {
	color:blue;
}

.bgtext {
  color: black;
  float:right;
}

/* Form */

.form {
	max-width:860px;
	list-style:none;
}
.form label {
	display:block;
	font-size: 9pt;
}
.input,
 input {
	margin-top:3px;
	margin-bottom:5px;
	background: white;
	font-family: "Franklin Gothic Medium", verdana, sans-serif;
}

.button {

	font-family: "Franklin Gothic Medium", verdana, sans-serif;
	border: solid 1px #999;
	background:#eee;
	font-size:12pt;
}

/* Targeted elements */

#chatpane 
{
	height:400px;
	width:650px;
	float:left;
	color:Black;
	overflow:auto;
	padding:4px;
	margin-bottom:4px;
	margin-right:10px;
}

#chatbuffer
{
 	width:650px;
}
ul li.usermsg {
	position:relative;
	padding:5px;
	margin: 5px 0;
	color:#000;
	text-align: left;
	background:#f3961c; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
	background:-moz-linear-gradient(#f9d835, #f3961c);
	background:-o-linear-gradient(#f9d835, #f3961c);
	background:linear-gradient(#f9d835, #f3961c);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	max-width: 50%;
}
ul li.usermsg:after {
	content:"";
	position:absolute;
	bottom:-15px; /* value = - border-top-width - border-bottom-width */
	left:20px; /* controls horizontal position */
	border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f3961c transparent;
    display:block; 
    width:0;
}

ul li.usermsg:nth-child(2n+1) {
	text-align: right;
	margin-left: 50%;
}

ul li.servermsg {
	background-color: #b94a48;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 5px;
	display: inline-block;
	padding: 2px 4px;
	font-size: 11px;
	font-weight: bold;
	line-height: 14px;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
}

#userpane
{
	height:400px;
	max-width:160px;
	color:Black;
	overflow:auto;
	padding:5px;
	margin-bottom:4px;
}

#userlist
{
	width:100px;
}
#userlist li {
	text-align: left;
}
#userlist li:before {
content:'\2192\0020';
}

#chatpane ul,
#userpane ul 
{
	margin:0px;
	padding:0px;
	list-style:none;
}

#chatpane ul li,
#userpane ul li 
{
	font-size:8pt;
}

#stats,
#charcount 
{
	display:inline;
}

#archivelink
{
	margin-top: 10px;
}

#footer {
	
	border-top: solid 2px #ccc;
	margin-top:20px;
	padding:5px;
	text-align:center;
}

.servermsg 
{
	color:Red;
}

.actionmsg
{
	color:Blue;
}

.mytext 
{
	width: 735px !important;
	position: absolute;
	left: 0;
	margin-left: 20px;
}

.clear 
{
	clear:left;
}